$maxMobile: 'max-width: 575.98px'; //Extra Small
$minSmall: 'min-width: 576px'; //Small
$minMidium: 'min-width: 768px'; //Midium
$minLarge: 'min-width: 992px'; //Large
$minExtraLarge: 'min-width: 1200px'; //Extra Large


$mainColor: #e2494c;
$greyColor: #9c9c9c;
$whiteColor: #FFF;

$floatleft: left;
$floatright: right;

$textleft: left;
$textright: right;

$borderRadius: 10px;

$mainSize: 16px;

$chevronRight: '\f054';
$chevronLeft: '\f053';

$rightChevron: before;
$leftChevron: after;

