input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    border: none;
    display: block;
}

textarea{
    border-radius: $borderRadius;
    padding: 10px;
    display: block;
    border: none;
    width: 100%;
}

input::placeholder,
textarea::placeholder{
    color: $greyColor;
}